*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
}
a {
  text-decoration: none;
  font-style: normal;
}

body {
  font-family: Epilogue, sans-serif;
  color: #141414;
  background-color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.second-section {
    display: block;
    unicode-bidi: isolate;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px ;
}

.aboutus-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: left;
  padding-left: 20px;
}
